
@{
    ViewBag.Title = "landingS";
}

!-- the main picture -->
<div style="background-repeat: no-repeat;
       background-image: url('../../images/neonbrand-zFSo6bnZJTw-unsplash.jpg'); 
       background-size: 100% 650px; 
       padding-top: 3em; height: 500px;">
    <br /><br /> <br />
    <h1 align="center" style="color:white;">Welcome! You Can Start Managing Your Tutorial Sessions</h1>


</div>

<!-- The First Container after the main picture -->
