
@{
    ViewBag.Title = "landingA";
}

!-- the main picture -->
<div style="background-repeat: no-repeat;
        background-image: url('../../images/office.jpg');
        background-size: 100% 650px;
        height: 500px;padding-top:3em;">
    <br /><br /> <br />
    <h1 align="center" style="color:white;">Admin !</h1>


</div>

<!-- The First Container after the main picture -->
