
@{
    ViewBag.Title = "ApplicationSuccessPage";
}



<h2>ApplicationSuccessPage</h2>
<p style="margin-top:15em;"> Greetings, Your Application has been successfuly submitted , kindly awaits on the admin, to process your application based on your academic performance/p>

