
@{
    ViewBag.Title = "LandingT";
}


!-- the main picture -->
<div style="background-repeat: no-repeat;
       background-image: url('/images/Sisi Ogobile.jpg');
       background-size: 100% 650px;
       padding-top: 7em; height: 500px;">
    <br /><br /> <br />
    <h1 align="left" style="color:white;">Welcome ! To Your Tutorial Panel</h1>


</div>

<!-- The First Container after the main picture -->
