
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
   
    <center class="centralContent" style="padding-top:4em;padding-bottom:12em;">
        <h4>About Us</h4>
        <p style="font-size:medium;">
            This project is developed from the sudden transition of face-to-face education to e-learning.<br /> The system developed will be
            a study platform that will help students adapt to higher education, virtual classrooms and to the entire online learning environment.<br />
            This study platform will be a web-based system with features that will allow students to be allocated to their own courses, and there will be classrooms,
            inside those classrooms students will have rights to access their modules and request for tutors for each module.<br /> This study platform will allow freshmen and undergraduates better understand university life and interact with
            classmates in a much easier way since discussion forums will be made available, also be able to form study mates or groups.
        </p>
    </center>
    <br />
</body>