
@{
    ViewBag.Title = "Contact us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>


    <center class="centralContent">

       
        <div style="padding-top:3em;">
            <h4 />Contact Us<h4 />
            <br />
            <div>
                <p>                Durban University of Technology</p>

                <p>                Gate 2, Ritson Road,</p>

                <p>                Ritson Campus, Berea,</p>

                <p>                DURBAN, 4001</p>
                <br />

                <p>                P O BOX 1334 Durban,</p>

                <p>                South Africa, 4001</p>
            </div>
            <br /><br />
        </div>


    </center>
    <br /><br />
</body>
